:root {
    --bg-color: #1a1a1a;
    --text-color: #f0f0f0;
    --header-color: #f0f0f0;
    --primary-color: #333;
    --secondary-color: #2a2a2a;
    --border-color: #555;
    --hover-bg-color: #444;
    --link-color: #ffffff;
    --link-hover-color: #ddd;
    --table-alt-row-color: #333;
    --button-color: #f0f0f0; 
    --light-pic : none;
    --dark-pic : block;
    --box-color-text : rgb(0, 0, 0);
    --box-color : white;
    --button-color-reverse: #1a1a1a;
    --table-background-color: #1a1a1a;
    --table-header-background-color: #2a2a2a;
    --table-header-text-color: #f0f0f0;
    --table-row-even-background-color: #333;
    --table-row-hover-background-color: #444;
    --sidebar-width: 280px;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: var(--bg-color);
    margin: 0;
    padding: 0;
    display: flex;
    height: 100vh;
    box-sizing: border-box;
    color: var(--text-color);
    position: relative;
    overflow-x: hidden;
}

.cookie-banner {
    position: fixed;
    left: 25px;
    bottom: 25px;
    width: 400px;
    padding: 25px;
    background-color: rgb(1, 0, 0, 0.9);
    border-radius: 15px;
    color: white;
    z-index: 9999;
    display: none;
}

.cookie-content {
    max-width: 600px;
    margin: 0 auto;
    text-align: center;
}

.cookie-content p {
    margin-bottom: 10px;
}

.button_accept {
    background-color: #ffffff;
    color: rgb(0, 0, 0);
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 15px;
}

.button_leave {
    background-color: hsl(0, 85%, 37%);
    color: rgb(255, 255, 255);
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 15px;
}

.button_accept:hover {
    background-color: #c9c9c9;
}

.button_leave:hover {
    background-color: #751414;
}

section p {
    margin: 0.625rem 0;
    line-height: 1.6;
    color: var(--text-color);
}

b {
    line-height: 1.6;
    color: var(--text-color);
}

.black {
    color: var(--link-color);
    text-decoration: none;
    margin: 0 0.625rem;
    font-weight: bold;
    transition: color 0.3s ease;
}

.table-link {
    color: var(--text-color);
    text-decoration: solid;
}

.black:hover {
    color: var(--link-hover-color);
}

body.light-mode {
    --bg-color: #f0f0f0;
    --text-color: #444;
    --header-color: #333;
    --primary-color: #4CAF50;
    --secondary-color: whitesmoke;
    --border-color: black;
    --hover-bg-color: #ddd;
    --link-color: rgb(4, 85, 10);
    --link-hover-color: #333;
    --table-alt-row-color: #f2f2f2;
    --button-color: #1a1a1a; 
    --light-pic : block;
    --dark-pic : none;
    --box-color-text : rgb(255, 255, 255);
    --box-color : #1a1a1a;
    --button-color-reverse : #f0f0f0; 
    --table-background-color: #f0f0f0;
    --table-header-background-color: #ddd;
    --table-header-text-color: #333;
    --table-row-even-background-color: #f2f2f2;
    --table-row-hover-background-color: #ddd;
}

body.light-mode .program_table {
    color: white;
}

body.light-mode .program_table th,
body.light-mode .program_table td {
    border-color: var(--border-color);
    color: white;
}

body.light-mode .program_table tr:nth-child(even) {
    background-color: var(--table-alt-row-color);
}

body.light-mode .program_table tr:hover {
    background-color: var(--hover-bg-color);
}

pre {
    background-color: var(--header-color);
    color: var(--bg-color);
    border-radius: 5px;
    padding: 10px;
    overflow-x: auto;
    font-family: 'Courier New', Courier, monospace;
    line-height: 1.5;
    margin: 20px 0;
}

code {
    background-color: #3e4451; 
    color: #e06c75;
    padding: 2px 4px; 
    border-radius: 3px;
    font-family: 'Courier New', Courier, monospace;
}

pre code {
    background: transparent;
    color: inherit;
    padding: 0;
    border: none;
}

.light-mode-btn {
    position: fixed;
    top: 16px;
    right: 14px;
    background: var(--secondary-color);
    border: none;
    padding: 10px;
    border-radius: 50%;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 0.25rem 0.5rem rgba(0, 0, 0, 0.1);
    transition: background 0.3s ease, box-shadow 0.3s ease;
    z-index: 1000;
}

::-webkit-scrollbar {
    width:0px;
}

.topbar {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: var(--bg-color);
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.3);
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 75px;
    padding: 0 20px;
}

.topbar .logo {
    font-size: 1.5rem;
    color: var(--header-color);
    font-weight: bold;
    text-decoration: none;
    pointer-events: none;
}

.topbar nav {
    display: flex;
    align-items: center;
    gap: 10px;
    width: 100%;
}

.topbar nav a {
    color: var(--header-color);
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s ease;
}

.topbar nav a:hover {
    color: var(--link-hover-color);
}

.topbar .action-buttons {
    display: flex;
    align-items: center;
    gap: 10px;
}

.topbar button {
    top: 16px;
    background: var(--secondary-color);
    border: none;
    padding: 10px;
    border-radius: 15px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 0.25rem 0.5rem rgba(0, 0, 0, 0.1);
    transition: background 0.3s ease, box-shadow 0.3s ease;
    z-index: 1000;
    color: var(--button-color);
}

.topbar button:hover {
    background: var(--hover-bg-color);
    box-shadow: 0 0.25rem 0.75rem rgba(0, 0, 0, 0.15);
}

.topbar button:focus {
    outline: none;
    box-shadow: 0 0 0 3px rgba(0, 0, 0, 0.2);
}

.sidebar {
    position: fixed;
    top: 70px;
    left: 0;
    width: 280px;
    height: calc(100% - 10px);
    background-color: var(--bg-color);
    border-right: 1px solid var(--button-color);
    padding: 20px;
    box-sizing: border-box;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.sidebar h1 {
    color: white;
    border: 0px;
    padding: 10px 80px;
    margin: 10px;
    border-radius: 15px;
    background-color: #361475;
    width: 224px;
}

.sidebar button {
    top: 16px;
    margin: 6px;
    background: var(--secondary-color);
    border: none;
    padding: 10px;
    border-radius: 15px;
    cursor: pointer;
    width: 230px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 0.25rem 0.5rem rgba(0, 0, 0, 0.1);
    transition: background 0.3s ease, box-shadow 0.3s ease;
    z-index: 1000;
    color: var(--button-color);
}

.sidebar a {
    text-decoration: none;
    color: var(--link-color);
}

.sidebar button:hover {
    background: var(--hover-bg-color);
    box-shadow: 0 0.25rem 0.75rem rgba(0, 0, 0, 0.15);
}

.page-content {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: calc(100% - var(--sidebar-width));
    height: calc(100% - 75px);
    padding-top: 75px;
    box-sizing: border-box;
    position: relative;
    margin-left: var(--sidebar-width);
}

.page-content button {
    margin: 6px;
    background: var(--secondary-color);
    border: none;
    padding: 10px;
    border-radius: 15px;
    cursor: pointer;
    width: 230px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 0.25rem 0.5rem rgba(0, 0, 0, 0.1);
    transition: background 0.3s ease, box-shadow 0.3s ease;
    z-index: 1000;
    color: var(--button-color);
}

.page-content button:hover {
    background: var(--hover-bg-color);
    box-shadow: 0 0.25rem 0.75rem rgba(0, 0, 0, 0.15);
}

.table_t table {
    width: 750px;
    border-radius: 20px;
    border-collapse: collapse;
    background-color: var(--bg-color);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin: 20px auto;
    color: var(--text-color);
}

.table_t th,
.table_t td {
    padding: 12px 20px;
    text-align: left;
}

.table_t table th {
    background-color: var(--secondary-color);
    color: var(--header-color);
    font-size: 22px;
    font-weight: bold;
    position: sticky;
    top: 0;
    z-index: 2;
}

.table_t table tr {
    font-size: 20px;
}

.table_t table tr:nth-child(even) {
    background-color: var(--table-alt-row-color);
}

.table_t table tr:hover {
    background-color: var(--hover-bg-color);
    transition: background-color 0.3s ease;
}

.table_t table tr:first-child th:first-child {
    border-top-left-radius: 20px;
}

.table_t tr:first-child th:last-child {
    border-top-right-radius: 20px;
}

.table_t table tr:last-child td:first-child {
    border-bottom-left-radius: 20px;
}

.table_t table tr:last-child td:last-child {
    border-bottom-right-radius: 20px;
}

.content {
    top: 0px;
    padding: 10px;
}

.better-link {
    text-decoration: none;
    color: var(--text-color);
}

footer {
    display: block;
    background-color: var(--bg-color);
    color: var(--text-color);
    padding: 20px 0;
}

.footer-container {
    display: flex;
    justify-content: space-between;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

.footer-left, .footer-right {
    display: flex;
    gap: 15px;
}

.footer-left a, .footer-right a {
    color: var(--text-color);
    text-decoration: none;
    transition: color 0.3s ease;
}

.footer-left a:hover, .footer-right a:hover {
    color: #ddd;
}

.top-pic-dark {
    display: var(--dark-pic);
    height: 65px;
}

.top-pic-light {
    display: var(--light-pic);
    height: 65px;
}

.light-mode-btn i {
    color: var(--header-color);
    font-size: 1.2rem;
}

.light-mode-btn:hover {
    background: var(--hover-bg-color);
    box-shadow: 0 0.25rem 0.75rem rgba(0, 0, 0, 0.15);
}

.light-mode-btn .fa-sun {
    display: none;
}

body.light-mode .light-mode-btn .fa-moon {
    display: none;
}

body.light-mode .light-mode-btn .fa-sun {
    display: block;
}

.search-container {
    width: 250px;
    position: relative;
    margin-bottom: 20px;
}

#search-bar {
    width: 100%;
    padding: 10px;
    border: 0.5px solid var(--border-color);
    border-radius: 20px;
    background-color: var(--button-color-reverse);
    color: var(--text-color);
    box-sizing: border-box;
}

#suggestions-box {
    position: absolute;
    top: calc(100% + 5px);
    left: 0;
    width: 100%;
    background: var(--bg-color);
    border-radius: 0 0 20px 20px;
    max-height: 200px;
    overflow-y: auto;
    display: none;
    z-index: 1000;
}

.suggestion {
    padding: 10px;
    border-bottom: 0.5px solid var(--border-color);
    cursor: pointer;
    color: var(--text-color);
}

.suggestion:last-child {
    border-bottom: none;
}

.suggestion:hover {
    background-color: var(--hover-bg-color);
}

@media only screen and (max-width: 495px) {
    .cookie-banner {
        position: fixed;
        border-radius: 0px;
        bottom: 0;
        left: 0;
        width: 100%;
        background-color: rgb(1, 0, 0, 0.9);
        color: white;
        padding: 20px 0;
        z-index: 9999;
        display: none;
    }
}

@media only screen and (max-width: 780px) {
    .footer-left {
        display:none;
    }
}
